<div class="container">
	<div class="jumbotron">
		<h1>autos 504</h1>

		<h2>Auditoria Social para el proceso de matricula vehicular en Honduras</h2>
		<a href="/entry" class="btn btn-lg btn-success">Ir al inicio</a>
		<br />
		<br />
		<img src="images/googleplay.jpeg" />
	</div>
</div>